{{define "start"}}
{{template "header"}}
<a name="" id="" class="btn btn-primary" href="/create" role="button">Add Employee</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Adrian E</td>
            <td>u201718169@upc.edu.pe</td>
            <td>Edit | Delete</td>
        </tr>
    </tbody>
</table>
{{template "footer"}}

{{end}}